@media (min-width: 1200px) {
    .menu-custom li:hover .sub-menu{
        display:block;
    }

    #primary-menu1 li a {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 17.5px;
        color: #333333;
        position: relative;
        border-right: 1px solid #d9d8d8;
        line-height: 55px;
        font-weight: bold;
    }

    #myNavbar {
        padding-left: 0px;
    }
    .map iframe {
        width: 100% !important;
    }
    .footer-prf {
        padding-top: 35px !important;
    }
}

@media screen and (max-width: 600px) {
    #primary-menu1 li a {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 17.5px;
        color: #333333;
        position: relative;
        line-height: 55px;
        font-weight: bold;
    }
    .custom-container a img {
        text-align: center;
    }
    .custom-container1 {
        text-align: center;
    }

    .content-custom {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .item-news-custom {
        padding-top: 15px;
    }
    .image img {
        width: 100% !important;
    }
    .home1 {
        padding-right: 0px;
    }
    .map iframe {
        width: 100% !important;
        height: 300px !important;
    }
    .blog1 img {
        display: none;
    }

    .sm-blue a .sub-arrow {
        background: #4DB2EC;
    }
    .entry-thumb a img {
        width: 100% !important;
        height: 260px !important;
    }
}
.custom-container {
    max-width: 1070px;
    margin: 0 auto;
}

#primary-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    /*border: 1px solid #d9d8d8;*/
}

#primary-menu li {
    float: left;
    /*width: 150px;*/
}

#primary-menu li a {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 17.5px;
    color: #333333;
    position: relative;
    border-right: 1px solid #d9d8d8;
    line-height: 55px;
    font-weight: bold;
}

.post-news .entry-content .entry-title a:hover {
    text-decoration: none;
    color: #c0d071;
}

.post-news .entry-content .entry-title a {
    color: #404040;
}

.posted-on span {
    color: #777;
}

.vmag-archive-more {
    display: inline-block;
    padding: 6px 15px 4px;
    color: #383838;
    border: 1px solid #ddd;
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
}

.vmag-archive-more:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #c0d071;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #c0d071;
    border-color: #c0d071;
}

.sub-menu {
    list-style: none;
    position:absolute;
    display:none;
    /*width:112px;*/
    /*width: 280px;*/
    z-index: 99999;
    background-color: #f6f6f6;
    white-space: nowrap;

}

.entry-content img {
    width: 100% !important;
    height: auto !important;
}

.item-news-custom iframe {
    width: 100%;
}

.videos-custom iframe {
    width: 80%;
}

.sub-menu li:hover a{
    color: #c0d071 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff ;
    background: none;
}

.active {
    background: #c0d071 !important;
}















.main-nav {
    background: #3092c0;
    background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #f6f6f6), color-stop(100%, #f6f6f6));
    background-image: -webkit-linear-gradient(to bottom, #f6f6f6, #f6f6f6);
    background-image: -moz-linear-gradient(to bottom, #f6f6f6, #f6f6f6);
    background-image: -o-linear-gradient(to bottom, #f6f6f6, #f6f6f6);
    background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.main-nav:after {
    clear: both;
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    overflow: hidden;
}

.nav-brand {
    float: left;
    margin: 0;
}

.nav-brand a {
    display: block;
    padding: 10px 10px 10px 20px;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 29px;
    text-decoration: none;
}

#main-menu {
    clear: both;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    #main-menu {
        float: left;
        clear: none;
    }
}


/* Mobile menu top separator */

#main-menu:before {
    content: '';
    display: block;
    height: 1px;
    font: 1px/1px sans-serif;
    overflow: hidden;
    background: #2e8cb8;
}

@media (min-width: 768px) {
    #main-menu:before {
        display: none;
    }
}


/* Mobile menu toggle button */

.main-menu-btn {
    float: right;
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #4DB2EC;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
    display: none;
}

#main-menu-state:checked ~ #main-menu {
    display: block;
}

@media (min-width: 768px) {
    /* hide the button in desktop view */
    .main-menu-btn {
        position: absolute;
        top: -99999px;
    }
    /* always show the menu in desktop view */
    #main-menu-state:not(:checked) ~ #main-menu {
        display: block;
    }

    .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
        padding: 13px 24px;
        background: #ececec;
        background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6);
        color: #fff;
    }
}

.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
    padding: 13px 24px;
    background: #ececec;
    background-image: linear-gradient(to bottom, #f6f6f6, #f6f6f6);
    color: #333333;
}

.sm-blue > li {
    border-left: 1px solid #b5b5b5;
}

.sm-blue > li:last-child > a, .sm-blue > li:last-child > :not(ul) a {
    border-radius: 0 !important;
}

.sm-blue > li:first-child > a, .sm-blue > li:first-child > :not(ul) a {
    border-radius: 0 !important;
}

/* IGNORE: Unrelated generic demo styles */

/*body {*/
    /*margin: 8px;*/
    /*background: #fff;*/
    /*color: #aaa;*/
    /*font: 16px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*}*/

.demo-text {
    margin: 3em 22px;
}

.demo-text p {
    margin-bottom: 1em;
}

.demo-text a {
    color: #999;
}